h4{
  color: cadetblue   
}

h3{
  text-transform: uppercase;
 
}

h1{
  text-transform: uppercase;
  text-align: center;
  
}

body {
  text-indent: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: "Century Gothic",Verdana,sans-serif;
  font-size: 12px;
  background-color:lightblue;
  margin: 5% 5%;
  
}

img{
  margin-top: 20px;
  width: 215px;
  border-radius: 1000px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 10px;
  
}

aside{
  
  float: right; 
  margin-right: 510px;
  padding-right: 15px;
  background-color: white;
  border-radius: 18px;
  border: 1px dashed;
  box-shadow: 5px 5px 5px lavender;

}

.body2{
  background-color: white;
  padding-right: 20px;
  border-radius: 18px;
  border: 1px dashed;
  margin-right:825px;
  box-shadow: 5px 5px 5px lavender;

}



