
body {
  background: linear-gradient(lightblue, lavender) ;
  text-indent: 30px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: "Century Gothic",Verdana,sans-serif;
  font-size: 12px;

}

h4{
  color: cadetblue   
}

h3{
  text-transform: uppercase;
  text-align: center;
}

header {
  font: 45px century gothic;
  font-weight: 550;
  background-color: white;
  border-radius: 18px;
  border: 1px dashed;
  margin: auto;
  width: 900px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px lavender;
   
}

img{
  margin-top: 20px;
  width: 215px;
  border-radius: 1000px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 10px;
  
}

aside{
  float: right; 
  margin-right: 510px;
  margin-top: 15px;
  padding-bottom: 30px;
  padding-right: 15px;
  background-color: white;
  border-radius: 18px;
  border: 1px dashed;
  box-shadow: 5px 5px 5px lavender;

}

.body2{
  background-color: white;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 18px;
  border: 1px dashed;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right:825px;
  margin-left: 500px;
  box-shadow: 5px 5px 5px lavender;

}

footer{
  font: 12px century gothic; 
  background-color: white;
  border-radius: 12px;
  border: 1px dashed;
  margin: auto;
  width: 900px; 
  box-shadow: 5px 5px 5px lavender;
  
}

